* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, serif;
}

.section-one {
  background-image: url(../assets/images/bg.png);
  background-position: center;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 34px 0 34px 0;
}

.logo {
  max-width: 93px;
  display: inline-block;
}

.menu {
  margin-left: 281px;
  display: inline-block;
}

.menu-item {
  list-style: none;
  display: inline-block;
}

a {
  margin-right: 51px;
  font-size: 16px;
  color: rgb(237, 224, 248);
  line-height: 1.2;
  text-decoration: none;
}

.header {
  border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.main {
  padding: 150px 0 205px 0;
}

.title {
  max-width: 452px;
  margin-bottom: 88px;
  font-size: 45px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.222;
}

.star {
  vertical-align: bottom;
}

.p-text {
  display: inline-block;
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  margin-left: 14px;
}

.button {
  padding: 23px 0 23px 0;
  width: 220px;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;

  font-weight: bold;
}

.white-button {
  margin-top: 99px;
  color: rgb(255, 255, 255);
  border: 2px solid white;
}

.section-two {
  padding: 140px 0 143px 0;
}

.learn-on-course {
  font-size: 35px;
  color: rgb(139, 103, 214);
  font-weight: bold;
  margin-bottom: 75px;
}

.p-text-in-section-two {
  display: inline-block;
  font-size: 16px;
  color: rgb(49, 27, 94);
  line-height: 1.5;
  margin-left: 14px;
}

.learn-on-course-text {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.section-three {
  background-image: url(../assets/images/bg2.png);
  background-position: center;
  background-size: cover;
  padding-top: 140px;
}

.info {
  padding: 60px 0 44px 0;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  max-width: 996px;
  margin: 0 auto 140px auto;
}

.info-title {
  margin-bottom: 40px;
  font-size: 35px;
  color: rgb(139, 103, 214);
  font-weight: bold;
}

.info-text {
  font-size: 16px;
  color: rgb(49, 27, 94);
  line-height: 1.5;
  max-width: 588px;
  margin: 0 auto;
}

.roman {
  font-weight: bold;
}

.first-info-text {
  margin-bottom: 30px;
}

.second-info-text {
  margin-bottom: 40px;
}

.purple-button {
  color: #a280dd;
  border: 2px solid #a280dd;
}

/* .line-footer {
  
} */

.footer {
  border-top: 2px solid rgba(255, 255, 255, .2);
  text-align: center;
  padding: 46px 0;
}
