* {
	margin: 0;
	padding: 0;
	font-family: 'Nunto', sans-serif;
}

@font-face {
	font-family: 'Nunito';
	src: url('assets/fonts/Nunitoregular.woff') format('woff');
	src: url('assets/fonts/Nunitoregular.woff2') format('woff2');
	font-style: normal;
	font-weight: normal;
}

body {
	position: relative;
	width: 100%;
	background: linear-gradient(to right, #fff 50%, #f8f8fa 50%);
}

.logo {
	text-align: center;
	margin-top: 27px	;
}

.logo svg {
	width: 262px;
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	margin: 112px auto 0 auto;
	padding: 0 20px;
}

h1 {
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;
}

.txt {
	font-weight: 700;
	font-size: 22px;
	line-height: 27px;
	color: #636363;
	max-width: 496px;
	margin-top: 17px;
	margin-bottom: 50px;
}

.form {
	width: 452px;
}

label {
	display: flex;
	flex-direction: column;
	width: 100%;
}

h2 {
	font-weight: 700;
	font-size: 16px;
	line-height: 27px;
	color: #c6c6c4;
}

input {
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #323232;
	outline: none;
	border: none;
	border-bottom: 1px solid #c6c6c4;
	margin-bottom: 30px;
}

span {
	font-weight: 700;
	font-size: 16px;
	line-height: 27px;
	color: #636363;
}

.agree {
	display: block;
	cursor: pointer;
}

.agree input {
	width: 13px;
	height: 13px;
	border-radius: 16px;
}

.btn {
	width: 210px;
	padding: 21px;
	background: #dd3142;
	border-radius: 40px;
	outline: none;
	border: none;
	font-weight: 700;
	font-size: 20px;
	line-height: 27px;
	color: #ffffff;
	cursor: pointer;
}

.submit {
	margin-top: 20px;
	margin-left: 124px;
}

.link {
	margin-top: 44px;
	margin-left: 124px;
}
.link a {
	font-weight: 700;
	font-size: 16px;
	line-height: 27px;
	color: #636363;
	text-decoration: none;
}

.second__block {
	width: 50%;
}

.rocket img {
	max-width: 100%;
}

.main__popup {
	display: none;
}

.popup {
	width: 400px;
	height: 145px;
	padding: 30px;
	border: 1px solid #dd3142;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	position: fixed;
	top: calc(50% - 103px);
	left: calc(50% - 230px);
	background-color: #fff;
	z-index: 99;
}

.popup__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
}
