@media screen and (max-width: 1369px) {
	.present {
		bottom: 6px;
	}
}
@media screen and (max-width: 1152px) {
	.header,
	.descriptions,
	.advantages,
	.products,
	.order,
	.footer {
		padding-left: 20px;
		padding-right: 20px;
	}

	.product__item {
		margin: 0 5px;
	}

	.all-advantages {
		column-gap: 12px;
	}

	.advantages__img {
		margin-left: -40px;
	}

	.advantage__text {
		width: 220px;
	}
}

@media screen and (max-width: 1138px) {
	.descriptions__container {
		flex-direction: column;
		justify-content: start;
	}

	.descriptions__image {
		position: relative;
		top: -125px;
	}
}

@media screen and (max-width: 1125px) {
	.div-for-grid {
		column-gap: 40px;
	}
}

@media screen and (max-width: 1013px) {
	.advantages__img {
		align-self: center;
		margin-left: 9px;
	}
	.advantages__img img {
		width: 302px;
	}
}

@media screen and (max-width: 950px) {
	.advantages {
		padding-bottom: 25px;
	}

	.advantage-one {
		margin-bottom: 80px;
	}

	.advantage-three {
		grid-row: 2;
	}

	.advantage-four {
		grid-row: 2;
	}

	.all-advantages {
		margin-top: 88px;
		justify-items: center;
		grid-template-columns: repeat(2, 220px);
		grid-template-rows: repeat(2, 1fr);
		column-gap: 55px;
		justify-content: center;
		text-align: center;
	}

	.circle {
		margin: 0 auto 13px auto;
	}
}

@media screen and (max-width: 889px) {
	.order__all {
		order: 1;
	}

	.order__title {
		font-size: 45px;
	}

	.order__macaroon {
		position: relative;
		bottom: -120px;
	}

	.order__macaroon img {
		width: 322px;
	}

	.strawbery {
		position: absolute;
		top: 337px;
		left: 372px;
	}

	.second-strawbery {
		position: absolute;
		top: 114px;
		right: -329px;
	}

	.order__macaroon {
		order: 2;
	}

	.div-for-flex {
		flex-direction: column;
		text-align: center;
	}

	.advantages__title {
		width: 100%;
	}
	.advantages__text {
		width: 100%;
		margin-bottom: 40px;
	}

	.advantages__img {
		align-self: center;
	}

	.descriptions {
		padding-top: 80px;
		padding-bottom: 0;
	}

	.descriptions__container {
		align-items: start;
	}

	.descriptions__title {
		width: 580px;
	}
	.descriptions__image {
		left: 180px;
	}

	.descriptions__image img {
		width: 438px;
	}
}

@media screen and (max-width: 820px) {
	.header__menu {
		margin-left: 80px;
	}
	.header__logo-and-menu {
		width: auto;
	}
}

@media screen and (max-width: 769px) {
	.second-strawbery {
		position: absolute;
		top: 211px;
		right: -239px;
	}

	.present {
		transform: scale(0.6);
	}
}

@media screen and (max-width: 768px) {
	.phone {
		display: none;
	}

	.header__logo-and-menu {
		justify-content: start;
		gap: 103px;
		width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.products {
		padding-top: 30px;
	}
	.order__macaroon {
		display: none;
	}

	.second-strawbery {
		display: none;
	}

	.order__container {
		justify-content: center;
	}

	.strawbery {
		left: 328px;
		top: 206px;
	}
}

@media screen and (max-width: 692) {
	.header,
	.descriptions,
	.advantages,
	.products,
	.order,
	.footer {
		padding-left: 30px;
		padding-right: 30px;
	}

	.advantages__text {
		height: 105px;
		width: 100%;
	}
}

@media screen and (max-width: 638px) {
	.items__title {
		font-size: 22px;
	}

	.header__menu {
		margin-left: 0;
	}
}

@media screen and (max-width: 637px) {
	.descriptions__container {
		text-align: center;
	}

	.descriptions__title {
		margin-bottom: 0;
	}

	.descriptions__text {
		margin: 40px auto;
	}

	.descriptions__image {
		margin: 0 auto;
		margin-top: 50px;
		position: static;
	}
}

@media screen and (max-width: 625px) {
	.descriptions__title {
		font-size: 44px;
	}
}

@media screen and (max-width: 599px) {
	.order__container {
		padding-bottom: 77px;
	}

	.item__image-one {
		grid-column: 1;
		grid-row: 1;
	}

	.item__image-two {
		grid-column: 1;
		grid-row: 2;
	}

	.item__image-three {
		grid-column: 1;
		grid-row: 3;
	}

	.item__image-four {
		grid-column: 1;
		grid-row: 4;
	}

	.descriptions__title {
		font-size: 32px;
		width: 100%;
	}

	.descriptions__texts {
		width: 100%;
	}

	.descriptions__text {
		font-size: 16px;
	}

	.descriptions__action {
		width: 240px;
		margin: 0 auto;
	}

	.advantages__title {
		font-size: 30px;
	}

	.advantages__text {
		font-size: 16px;
		line-height: 1.437;
		width: 102%;
	}
}

@media screen and (max-width: 575px) {
	.header__logo-and-menu {
		justify-content: space-between;
	}

	.header__menu {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		margin: 0;
		top: 0;
		left: 0;
		background-color: #000000c9;
	}

	.menu__list {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		margin: 0 auto;
	}

	.menu__item {
		margin: 15px 0;
	}

	.header__burger {
		display: block;
	}

	.menu__close {
		display: block;
	}

	.menu__link {
		color: #fff;
		font-size: 25px;
	}

	.menu__close {
		width: 24px;
		height: 24px;
		fill: #b2374e;
		position: absolute;
		top: 36px;
		left: 20px;
		z-index: 99999999;
	}

	.burger__svg {
		width: 36px;
		height: 36px;
		fill: #821328;
	}

	.header__menu.open {
		display: flex;
		align-items: center;
		z-index: 99999;
	}
}

@media screen and (max-width: 549px) {
	.header__logo-and-menu {
		gap: 50px;
	}
}

@media screen and (max-width: 495px) {
	.footer__container {
		flex-direction: column;
	}

	.logo-and-rights {
		align-items: center;
		margin-bottom: 40px;
		order: 1;
		position: relative;
	}

	.rights {
		margin: 0 auto;
		width: 168px;
		position: absolute;
		top: 225px;
		left: -18px;
	}

	.footer__phone {
		order: 2;
		margin-bottom: 40px;
	}

	.inst {
		order: 3;
	}

	.footer {
		padding: 73px 0 92px 0;
	}
	.rights {
		top: 173px;
	}

	.all-advantages {
		column-gap: 0px;
		row-gap: 10px;
	}
	.advantages {
		padding-bottom: 0;
	}

	.advantage-one,
	.advantage {
		align-items: center;
	}

	.advantage__title {
		width: 155px;
	}

	.advantage__text {
		width: 160px;
	}

	.advantage__title {
		font-size: 18px;
	}

	.advantage__text {
		font-size: 13px;
	}

	.menu__list {
		gap: 20px;
	}

	.header__logo-and-menu {
		gap: 25px;
	}
}

@media screen and (max-width: 463px) {
	.order__title {
		font-size: 30px;
	}

	.order__text {
		font-size: 16px;
		line-height: 1.437;
		width: 345px;
	}

	.strawbery {
		left: 145px;
	}
	.descriptions {
		padding-bottom: 25px;
	}
	.descriptions__image img {
		width: 250px;
	}
}

@media screen and (max-width: 430px) {
	.products {
		padding-bottom: 0;
	}

	.product__item {
		padding-bottom: 15px;
		height: 229px;
	}
}

@media screen and (max-width: 380px) {
	.present {
		right: 0;
	}

	.advantage__text {
		width: 69%;
	}

	.all-advantages {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
		row-gap: 20px;
	}

	.advantage-one {
		grid-row: 1;
	}

	.advantage-two {
		grid-row: 2;
	}

	.advantage-three {
		grid-row: 3;
	}

	.advantage-four {
		grid-row: 4;
	}

	.descriptions__title {
		margin: 0 auto 40px auto;
		width: 205px;
	}

	.descriptions__text {
		margin: 0 auto 40px auto;
		width: 280px;
	}
}

@media screen and (max-width: 366px) {
	.order__all {
		width: 100%;
	}

	.order__text {
		width: 100%;
	}
}
